@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../imagens/fundo.png) repeat-x;
}
#conteiner{
	width: 750px;
	margin: 0 auto;
}
#topo{
	height:150px;
	padding-top: 25px;
	background: url(../imagens/detalhe-topo.png) no-repeat right top;
}
.logo{
	width: 152px;
	height: 66px;
	background: url(../imagens/logo.png) no-repeat center;
	text-indent: -3000px;
}
/*Barra de navegação*/
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#topo ul{
	margin-top: 30px;
	background: #b10333;
	float: left;
	
}
#topo ul li{
	float: left;
}
#topo ul a{
	font-size: 0.9em;
	display:block;
	padding: 0.8em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
	background: url(../imagens/divisor.png) no-repeat left center;
}
#topo ul .primeiro a{
	background: none;
}
#topo ul a:hover {
	color: #69001d;
}
body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos
{
	color: #fff;
	background: #de003e;
	cursor: text;
}
/*configuração do layout das colunas*/

#conteudo{
	margin-top:60px;
}
.caixa {
	background: #f3f3f3 url(../imagens/fundo-caixa.png);
	margin: 10px 0;
}
.caixa h2{
	font-size: 1.1em;
	background: #294c71;
	color: white;
	padding: 0.3em;
}

#lateral{
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;
}
.caixa-conteudo{
	padding: 15px;
}
.caixa-conteudo li a{
	color: black;
	line-height: 2.1em;
	display: block;
	text-decoration: none;
	
}
.caixa-conteudo li a:hover{
	color: red;
}
#tres-colunas #primario{
	width: 270px;
	float: left;
	margin: 0 0 20px 195px;

}
#duas-colunas #primario{
	width: 555px;
	float: left;
	margin: 0 0 20px 195px;
	background: green;
}
#uma-colunas #primario{
	width: 750px;
	float: left;
	margin: 0 0 20px 0 px;
}

#secundario{
	width: 270px;
	float: left;
	margin: 0 0 20px 15px;
}

/*Rodape*/
#conteiner-rodape{
	background: #294c71;
	padding: 20px;
}
#rodape{
	width: 750px;
	margin: 0 auto;
	color: #fff;
}




